<form (submit)="addNewProduct(addNewProductForm)" #addNewProductForm="ngForm">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">product name</label>
      <div>
        <input type="text" class="form-control" id="validationServer01" name="productName" ngModel required>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02">categoryid</label>
      <div>
        <input type="text" class="form-control" id="validationServer02" name="catagoryId" ngModel required>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Description</label>
      <div>
        <textarea type="text" class="form-control" id="validationServer01" name="description" ngModel required></textarea>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02">Rating</label>
      <div>
        <select type="text" class="form-control" id="validationServer02" name="rating" ngModel required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Color</label>
      <div>
        <textarea type="text" class="form-control" id="validationServer01" name="color" ngModel required></textarea>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02">isAvailable</label>
      <div>
        <select type="text" class="form-control" id="validationServer02" name="isAvailable" ngModel required>
          <option>yes</option>
          <option>no</option>
        </select>
      </div>
    </div>
  </div>
<button class="btn btn-primary mt-3" type="submit" style="margin-bottom: 2px;">Submit</button>
</form>