<div class="card mt-4">
    <img class="card-img-top img-fluid" src="{{productDetails.product_img}}" alt="">
    <div class="card-body">
        <h3 class="card-title">{{productDetails.name}}</h3>
        <a></a>
        <h4>${{productDetails.price}}</h4>
        <p class="card-text">{{productDetails.name}}</p>
    </div>
</div>
<!-- ./card -->
<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Product Reviews
    </div>
    <div class="card-body">
        <p class="card-text">{{productDetails.description}}</p>
        
        <small class="text-muted">Posted ny Anonymous on 3/1/17</small>
        <hr>
        <a href="/products" class="btn btn-success">Leave a Revview</a>
    </div>
</div> 