<div class="card mt-4">
    <img class="card-img-top img-fluid" src="" alt="">
    <div class="card-body">
        <h3 class="card-title">product name</h3>
        <a ></a>
        <h4>$ionso</h4>
        <p class="card-text">kjbiu
        </p>
    </div>
</div>
<!-- ./card -->
<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Product Reviews
    </div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem
            modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima
            ea iste laborum vero?</p>
        <small class="text-muted">Posted ny Anonymous on 3/1/17</small>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem
            modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima
            ea iste laborum vero?</p>
        <small class="text-muted">Posted ny Anonymous on 3/1/17</small>
        <hr>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem
            modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima
            ea iste laborum vero?</p>
        <small class="text-muted">Posted ny Anonymous on 3/1/17</small>
        <hr>
        <a href="#" class="btn btn-success">Leave a Revview</a>
    </div>
</div> 